.order form{
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: var(--branco);
    padding: 1.5rem;
    margin: 0 auto;
}
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}
.order form .inputBox .input{
    width: 49%;
}
.order form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--cinza);
}
.order form .inputBox .input input, 
.order form .inputBox .input textarea{
    background: var(--branco-light);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--preto);
    margin-bottom: 1rem;
    width: 100%;
}
.order form .inputBox .input input:focus, 
.order form .inputBox .input textarea:focus{
    border: .1rem solid var(--verde);
}
.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}
.order form .btn{
    margin-top: 0;
}